.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  /* margin-top: 1rem; */
  background-color: #f2f2f2;
  position: relative;
}

.header__logo {
  font-size: 2rem;
  border: 2px solid black;
}

.header__logo--left {
  display: inline-block;
  padding: 0 0.2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav-item a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 1rem;
  color: var(--color-black);
  transition: all 0.4s ease;
}

.header__nav-item a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 3px;
}

.header-nav-toggle__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.header-nav-toggle__btn svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.user__avatar-name {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
}

.user__avatar-name svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.user__avatar-name--avatar {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .header {
    align-items: flex-start;
  }

  .header-nav-toggle__btn {
    display: flex;
  }

  .header__nav {
    position: absolute;
    background-color: #f2f2f2;
    padding: 1rem;
    top: 4rem;
    right: -1000px;
    transition: all 0.5s ease;
  }

  .header__nav--reveal {
    right: 0;
  }

  .header__nav-list {
    flex-direction: column;
  }
}
